@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

:root {
  --White: #fff;
  --Light: #f5f9f1;
  --Orange: #ef473a;
  --Red: #cb2d3e;
  --Firewatch: linear-gradient(to right, #ef473a, #cb2d3e);
  --Color-Text: #475569;
  --Color-Title: #16181b;
}

body {
  font-family: 'Inter', sans-serif !important;
  color: var(--Color-Text) !important;
}

.container-custom {
  max-width: 1560px;
}

.white-text {
  color: var(--White);
}

.light-text {
  color: var(--Light);
}

.black-text {
  color: var(--Color-Title);
}

.dark-text {
  color: var(--Color-Text);
}

.red-color {
  color: var(--Red);
}

.red-bg {
  background-color: var(--Red);
}

.orage-color {
  color: var(--Orange);
} 

.orage-bg {
  background-color: var(--Orange);
}

.mt-n3 {
  margin-top: -3.25rem !important;
}